<div class='container'>
    <div class='mt-4'>
        <h3>Update</h3>
        <form method='POST' action='/courses/{{course/_id}}?_method=PUT'>
            <div class='form-group'>
                <label for='description'>Course description</label>
                <textarea
                    type='text'
                    class='form-control'
                    id='description'
                    placeholder='Enter description'
                    name='description'
                >{{course.description}}</textarea>
            </div>
            <div class='form-group'>
                <label for='description'>Course name</label>
                <input
                    type='text'
                    class='form-control'
                    id='name'
                    placeholder='Enter name'
                    value='{{course.name}}'
                    name='name'
                />
            </div>
            <div class='form-group'>
                <label for='description'>Course videoId</label>
                <input
                    type='text'
                    class='form-control'
                    id='description'
                    placeholder='Enter videoId'
                    value='{{course.videoId}}'
                    name='videoId'
                />
            </div>
            <button type='submit' class='btn btn-primary'>Save</button>
        </form>
    </div>
</div>